.question {
    background-color: rgb(243, 236, 227);
    margin: 10px;
    padding: 20px;
}

.question h2 {
    font-size: 30px;
    text-align: left;
    text-decoration: underline;
}

.question p {
    font-size: 20px;
    text-align: justify;
    padding: 20px;
}

.question h5 {
    font-size: 20px;
    text-decoration: underline;
}